<div class="projects-container" [@fadeIn]>
  <header class="projects-header">
    <div class="header-content">
      <div class="blue-square"></div>
      <h1>Projects</h1>
    </div>
  </header>
  <div class="projects-subtitle-container">
    <p>This page is dedicated to all the projects I was working on during the last few years on the side.</p>
  </div>
  <div class="project-card">
    <div class="project-text">
      <h3>BIMZap</h3>
      <p>BIMZap is a project we started with my friends aiming to provide digital solutions for architects with special
        focus on animations and extensions to Revit. My role is to keep the website maintained, keep our databases
        running, manage outreach and to provide consultation on python related questions for Revit automations</p>
      <a href="https://www.bimzap.com" target="_blank" class="learn-more-link">
        <button class="learn-more-button">Learn More</button>
      </a>
    </div>
    <div class="project-image">
      <img src="assets/projects/bimzap1.png" alt="Future Project Image">
    </div>
  </div>


  <div class="project-card">
    <div class="project-text">
      <h3>마틴의 주방 (Martin's Kitchen)</h3>
      <p>마틴의 주방 (Martin's Kitchen) started as a pastime to resolve "quarantine boredom" associated with the 2020
        COVID-19 pandemic.</p>
      <p>The main purpose behind it was to spend my time on two things I always wanted to learn well: Cooking and the
        Korean Language. As an accidental third skill, video editing was just another aspect of the project that I had
        to dig in hard to make everything happen.</p>
      <p>On this Youtube channel I aim to share Hungarian and regional home-cooked recipes with a Korean audience.
        Hopefully it will bring as much joy to everyone watching as it did for me making it.</p>
      <p>If you want me to hear me speak Korean click on the button below!</p>
      <a href="https://www.youtube.com/watch?v=NbMZlInL4S4" target="_blank" class="learn-more-link">
        <button class="learn-more-button">Learn More</button>
      </a>
    </div>
    <div class="project-image">
      <img src="assets/projects/martins-kitchen.png" alt="Martin's Kitchen">
    </div>
  </div>
</div>
